<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MindEase</title>
    <link rel="stylesheet" href="therapists_info.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  </head>
  <body>
    <section>
      <div class="container2">
        <div class="main">
          <div class="psy">
            <h1>MindEase</h1>
          </div>
          <div class="ser">
            <select name="" id="" class="sele">
              <option value="">Online Therapy</option>
              <option value="">Therapist</option>
              <option value="">Psychiartis</option>
              <option value="">Treatment Centers</option>
              <option value="">Support groups</option>
            </select>
            <span class="bar">City,Zip or Name</span><i class="fa-solid fa-magnifying-glass i"></i>
          </div>
          <!--  <div class="glo">
                <i class="fa-solid fa-globe ii"></i><span>US  Login</span>

            </div>  -->
          <div class="sing">
            <button>Sing up and Get Listed</button>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container2">
        <div class="nav1">
          <ul>
            <li>Online Therapy</li>
            <li>Therapist</li>
            <li>Psychiartis</li>
            <!-- <li>Treatment Centers</li> -->
            <li>Support groups</li>
          </ul>
        </div>
      </div>
    </section>

    <!--  <section>
    <div class="container2">
        <div class="nav2">
            <ul>
                <li>Home > </li>
                <li>New Jersey ></li>
                <li>online</li>
            </ul>
        </div>
    </div>
</section>  -->

    <section>
      <div class="container2">
        <div class="nav3">
          <h1>Teletherapy For New Jersey</h1>
          <h5>< See all therapists in New Jersey</h5>
        </div>
      </div>
    </section>

    <section>
      <div class="conatiner1">
        <div class="nav4">
          <div class="drop">
            <select name="" id="">
              <option value="">Price</option>
            </select>
            <select name="" id="">
              <option value="">issues</option>
            </select>
            <select name="" id="">
              <option value="">Gender</option>
            </select>
            <select name="" id="">
              <option value="">sexuality</option>
            </select>
            <!--  <select name="" id="">
            <option value="">Insurence</option>
        </select>  -->
            <select name="" id="">
              <option value="">More</option>
            </select>
          </div>

          <div class="clear">
            <h6>Clear All Filters</h6>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container1">
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>

        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>

        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>

        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>

        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
        <div class="card mb-3 mt-5" style="max-width: 940px;">
          <div class="row g-0 jj">
            <div class="col-3">
              <img src="320x400.jpeg" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="pp">
              <i class="fa-solid fa-play"></i>
            </div>
            <div class="col-5">
              <div class="card-body">
                <h5 class="card-title">Robert C. Ciampi</h5>
                <h6>Clinical Social Work/Therapist, LCSW</h6>
                <p class="card-text">Are you feeling overwhelmed with Life? Are you stressed out? Do you often feel tired, depressed, or anxious? Is your relationship or marriage not going well? Do you find yourself getting angry at the littlest things? Do you ever wish you could be more assertive with others around you? Do you worry about your kids? Do you want to resolve these issues - NOW? These are just some of the common themes that we all</p>
              </div>
            </div>

            <div class="col-2 cc">
              <small>(973)287-3843</small><br />
              <button>Email</button><br />
              <button class="b">View</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container3">
        <div class="nn">
          <ul class="">
            <li class="boo">1</li>
            <li class="bo">2</li>
            <li class="bo">3</li>
            <li class="bo">4</li>
            <li class="bo">5</li>
            <li class="bo">6</li>
            <li class="bo">7</li>
            <li class="bo">8</li>
            <li class="bo">9</li>
            <li class="bo">10</li>
            <li class="bo">Next ></li>
          </ul>
        </div>
      </div>
    </section>

    <section>
      <div class="container4">
        <h4>See more therapy options for New Jersey</h4>
        <div class="hh">
          <div class="dd">
            <h6>IN-PERSON THERAPY</h6>
            <img src="account-ro-therapy_color_01_2@2x.png" alt="" height="70%" width="70%x" />
          </div>
          <div class="dd">
            <h6>IN-PERSON THERAPY</h6>
            <img src="account-ro-therapy_color_01_2@2x.png" alt="" height="70%" width="70%" />
          </div>
          <div class="dd">
            <h6>IN-PERSON THERAPY</h6>
            <img src="account-ro-therapy_color_01_2@2x.png" alt="" height="70%" width="70%" />
          </div>
          <div class="dd">
            <h6>IN-PERSON THERAPY</h6>
            <img src="account-ro-therapy_color_01_2@2x.png" alt="" height="70%" width="70%" />
          </div>
        </div>
      </div>

      <div class="hi">
        <h5>All New Jersey Therapists by Name:</h5>
        <ul>
          <li>A</li>

          <li>B</li>
          <li>C</li>
          <li>D</li>
          <li>E</li>
          <li>G</li>
          <li>H</li>
          <li>I</li>
          <li>J</li>
          <li>K</li>
          <li>L</li>
          <li>M</li>
          <li>N</li>
          <li>O</li>
          <li>P</li>
          <li>Q</li>
          <li>R</li>
          <li>S</li>
          <li>T</li>
          <li>U</li>
          <li>V</li>
          <li>W</li>
          <li>X</li>
          <li>Y</li>
          <li>Z</li>
        </ul>
      </div>
    </section>

    <section>
      <div class="container2">
        <div class="footer">
          <div class="q">
            <h2>Psychology Today</h2>
          </div>
          <div class="q">
            <h5>Therapist Online<br /> Therapy</h5>
          </div>
          <div class="q">
            <h5>Psychiartis<br /> Treatment Centers</h5>
          </div>
          <div class="q">
            <h5>Support groups</h5>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container2">
        <div class="footer1">
          <div class="footer2">
            <div class="ff">
              <h6>
                Are You A Mental Health Professional?<br />
                Join The Psychology Today Directory.
              </h6>
            </div>
            <div class="button">
              <button>Sing Up and Get listed</button>
            </div>
          </div>

          <div class="f"></div>

          <div class="ww">
            <div class="link">
              <ul>
                <li>About</li>
                <li>Career</li>
                <li>privacy</li>
                <li>Terms</li>
                <li>Accessibility</li>
              </ul>
            </div>
            <div class="v"></div>
            <div class="map">
              <i class="fa-solid fa-flag-usa"></i><span>United state</span>
            </div>
            <div class="copy">
              <h6>©2024 Sussex Directeries inc.</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
